@charset "UTF-8";
/* CSS Document */


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} 

@font-face {
	font-family: 'myfont';
	src: url("../fonts/transfonter.org-20230725-073146/HandWriting.woff2") format('woff2'),
		url("../fonts/transfonter.org-20230725-073146/HandWriting.woff") format('woff'), url("../fonts/transfonter.org-20230725-073146/HandWriting.ttf") format('ttf');
	font-display: swap;
}

@font-face {
font-family: "Inter";
src: url("../../../../../../../Downloads/webfontkit-20230813-164148/inter-variablefont_slntwght-webfont.woff2") format('woff2'), url("../../../../../../../Downloads/webfontkit-20230813-164148/inter-variablefont_slntwght-webfont.woff") format('woff'), url("../fonts/Inter-2/Inter-VariableFont_slnt,wght.ttf") format('ttf');
}


html {
	font-size: 18px;
	font-family: "Inter";
	scroll-behavior: smooth;
}


/* navbar */

header { 
	position: fixed;
	top: 0; left: 0; right: 0;
	background: white; 
	padding: 20px 7%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;
}

header .navbar ul { 
	list-style: none;	
}

header .navbar ul li {
	position: relative;
	float: left;
	color: black;
}

header .navbar ul li a {
	font-size: 20px;
	font-family: 'myfont', 'Schoolbell', 'Inter', sans-serif;
	padding: 20px;
	color: black;
	display: block;
	text-decoration: none;
}

header .navbar ul li a:hover {
	color: #93bfef;
}


header .navbar ul li ul {
	position: absolute;
	left: 0;
	width: 150px;
	background-color: #FAFAFA;
	display: none;
}

header .navbar ul li ul li {
	width: 100%;
	
}

header .navbar ul li:hover > ul { 
	display: initial;
}

header .navbar ul li ul li a:hover  {
	color: #8bd978;
}

#menu-bar {
	display: none;
}

header label {
	font-size: 20px;
	color: black;
	cursor: pointer;
	display: none;
}


@media only screen and (max-width:800px) {
	
	header {
		padding:20px;
	}
	
	header label{
		display: initial;
	}
	
	header .navbar {
		position: absolute;
		top:100%; left:0; right:0;
		background: white;
		display: none;
	}
	
	header .navbar ul li {
		width: 100%;
	}
	
	header .navbar ul li ul {
		position: relative;
		width: 100%;
	}
	
	#menu-bar:checked ~ .navbar {
		display: initial;
	}

}

/* abacus */

section {
	padding-top: 20vh;
	height: 80vh;
	margin: 2rem 5rem;
	box-sizing: border-box;
	min-height: fit-content;
	display: flex;
	justify-content: space-between;
}

.section-container {
	display: flex;
}


.title {
	font-family: 'myfont', 'Inter', sans-serif;
	font-size: 3rem;
	margin-bottom: 1rem;
	text-align: center;
}


.section-pic-container {
	flex-direction: row;
}
.section-text {
	flex-direction: row;
	text-align: center;
}


h2 {
	font-family: 'myfont', 'Schoolbell', Inter, sans-serif;
}

h1 {
	font-family: 'myfont', 'Schoolbell', Inter, sans-serif;
	padding-top: 20vh;
}



p {
	text-align: center;
	font-family: 'Inter', sans-serif
}

/* boat party */
#boat-party {
	display: flex;
	justify-content: center;
	margin: 0rem 8rem;
	flex-direction: row;
	align-content: center;
	align-items: center;
	text-align: center;
	gap: 3rem;
}

.section-pic-container {
	display: flex;
	height: 450px;
	width: 550px;
	margin: auto 0;
}

h2 {
    font-family: 'myfont', 'Schoolbell', 'Inter', sans-serif;
	font-size: 3rem;
}


/* slideshow */
.slider-wrapper {
	position: relative;
	max-width: 48rem;
	margin: 0 auto;
}

.slider {
	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}

.slider img { 
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;

}

.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}


/* Three image containers (use 25% for four, and 50% for two, etc) */
.row {
  display: flex;
}

.column1 {
  flex: 47%;
  padding: 8px;
}

.column {
  flex: 25%;
  padding: 5px;
}

@media screen and (max-width: 800px) {
  .column {
    width: 100%;
  }
}

.caption {
	display: flex;
	flex-direction: column;
}

/* footer */

footer {
	text-align: center;
	padding: 7%;
}

footer ul li {
	text-decoration: none;
	display: inline-flex;
	padding: 3% 1%;
}

footer ul li a:hover {
	color: #a173c0;
}

return-top {
	float: left;
}

.fa-solid, .fa-arrow-up .fa-bounce {
	color: black;
}

.fa-arrow-up:hover {
	color: #f0db73;
}





/* media queries boat party*/

@media only screen and (max-width:1200px) {
	.slider-wrapper {
	height: 400px;
	width: 400px;
}
	
	@media only screen and (max-width:1000px) {
		#boat-party {
			flex-direction: column;
		}
		
		.slider-wrapper {
			height: 600px;
			width: 600px;
		}
	}
	
	
	@media only screen and (max-width:800px) {
		#boat-party {
			flex-direction: column;
		}
		
		.slider-wrapper {
			height: 500px;
			width: 500px;
		}
	}
	
	@media only screen and (max-width:600px) {
		#boat-party {
			flex-direction: column;
			margin: 0 5rem;
		}
		
		.slider-wrapper {
			height: 400px;
			width: 400px;
		}
	}
	
	@media only screen and (max-width:400px) {
		#boat-party {
			flex-direction: column;
			margin: 0 3rem;
		}
		
		.slider-wrapper {
			height: 300px;
			width: 300px;
		}
	}
}



#fade-in-image { animation: fadeIn 3s; }

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.tag {
  opacity: 0;
  transition: all 3s;
}

.tag.visible {
  opacity: 1;
}