@charset "UTF-8";
/* CSS Document */


@font-face {
	font-family: 'myfont';
	src: url("../fonts/transfonter.org-20230725-073146/HandWriting.woff2") format('woff2'),
		url("../fonts/transfonter.org-20230725-073146/HandWriting.woff") format('woff'), url("../fonts/transfonter.org-20230725-073146/HandWriting.ttf") format('ttf');
	font-display: swap;
}

@font-face {
font-family: "Inter";
src: url("../../../../../../../Downloads/webfontkit-20230813-164148/inter-variablefont_slntwght-webfont.woff2") format('woff2'), url("../../../../../../../Downloads/webfontkit-20230813-164148/inter-variablefont_slntwght-webfont.woff") format('woff'), url("../fonts/Inter-2/Inter-VariableFont_slnt,wght.ttf") format('ttf');
}

html {
	font-size: 18px;
	font-family: "Inter";
	scroll-behavior: smooth;
}



/* navbar */

header { 
	position: fixed;
	top: 0; left: 0; right: 0;
	background: white; 
	padding: 20px 7%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;
}

header .navbar ul { 
	list-style: none;	
}

header .navbar ul li {
	position: relative;
	float: left;
	color: black;
}

header .navbar ul li a {
	font-size: 20px;
	font-family: 'myfont', 'Inter', sans-serif;
	padding: 20px;
	color: black;
	display: block;
	text-decoration: none;
}

header .navbar ul li a:hover {
	color: #93bfef;
}


header .navbar ul li ul {
	position: absolute;
	left: 0;
	width: 150px;
	background-color: #FAFAFA;
	display: none;
}

header .navbar ul li ul li {
	width: 100%;
	
}

header .navbar ul li:hover > ul { 
	display: initial;
}

header .navbar ul li ul li a:hover  {
	color: #8bd978;
}

#menu-bar {
	display: none;
}

header label {
	font-size: 20px;
	color: black;
	cursor: pointer;
	display: none;
}

@media only screen and (max-width:800px) {
	
	header {
		padding:20px;
	}
	
	header label{
		display: initial;
	}
	
	header .navbar {
		position: absolute;
		top:100%; left:0; right:0;
		background: white;
		display: none;
	}
	
	header .navbar ul li {
		width: 100%;
	}
	
	header .navbar ul li ul {
		position: relative;
		width: 100%;
	}
	
	#menu-bar:checked ~ .navbar {
		display: initial;
	}

}


/* sections */

section {
	padding-top: 18vh;
	height: 96vh;
	margin: 0 5rem;
	box-sizing: border-box;
	min-height: fit-content;
}

.section-container {
	display: flex;
}

/* profile section */

#profile {
	display: flex;
	justify-content: center;
	gap: 5rem;
	height: 80vh;
}

.section_pic-container {
	display: flex;
	height: 600px;
	width: 350px;
	margin: auto 0;
}

.section_text {
	align-self: center;
	text-align: center;
}

.section_text p {
	font-weight: 500;
}

.section_text_p1 {
	font-family: 'Inter', sans-serif;
	text-align: center;
	font-size: 1.5rem;
	margin-bottom:  1rem;

}

.section_text_p2 {
	font-family: 'Inter', sans-serif;
	font-size: 1.25rem;
	margin-bottom: 1.5rem;
}

.title {
	font-family: 'myfont', 'Inter', sans-serif;
	font-size: 3.5rem;
	text-align: center;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

#socials-container {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}

#cv, #contact-btn {
	font-family: 'myfont', 'Inter', sans-serif;
	font-size: 2rem;
	margin-top: 2rem;
	padding: 1rem 1rem;
	color: black;
	text-decoration: none
}

#cv:hover, #contact-btn:hover {
	color: #f6bdda;
}


p {
	font-family: 'Inter', sans-serif;
}


/* footer */

footer {
	text-align: center;
	padding: 7%;
}

footer ul li {
	text-decoration: none;
	display: inline-flex;
	padding: 3% 1%;
}

footer ul li a:hover {
	color: #a173c0;
}

return-top {
	float: left;
}

.fa-solid, .fa-arrow-up .fa-bounce {
	color: black;
}

.fa-arrow-up:hover {
	color: #f0db73;
}


/* about me */ 

#about-me {
	display: flex;
	justify-content: center;
	margin: 0rem 8rem;
	flex-direction: row;
	align-content: center;
	align-items: center;
	text-align: center;
	gap: 2rem;
}

.section_pic-container-1 {
	display: flex;
	height: 550px;
	width: 550px;
	margin: auto 0;
}

h2 {
    font-family: 'myfont', 'Inter', sans-serif;
	font-size: 3rem;
}





/* media queries */

@media screen and (max-width: 1400px) {
	#profile {
		height: 83vh;
		margin-bottom: 6rem;
	}
}

@media screen and (max-width: 800px) {
	#profile, .section-container {
		display: block;
	}
	
	section, .section-container {
		height: fit-content;
	}
	
	section {
		margin: 0 5%;
	}
	
	.section_pic-container {
		width: 300px;
		height: 400px;
		margin: 0 auto 2rem;
	}
}

@media screen and (max-width: 600px) {
	#profile {
		height: 83vh;
		margin-bottom: 0;
	}
	
	.btn-container {
		flex-wrap: wrap;
	}
	
	.section_pic-container {
		width: auto;
		height: 100vw;
		justify-content: center;
	}
	
	.section_text_p2 {
		font-size: 1.25rem;
	}
	
	.title {
		font-size: 2rem;
	}
}


/* media queries about me */

@media only screen and (max-width:1200px) {
	.section_pic-container-1 {
	height: 400px;
	width: 400px;
}
	
	@media only screen and (max-width:1000px) {
		#about-me {
			flex-direction: column;
		}
		
		.section_pic-container-1 {
			height: 600px;
			width: 600px;
		}
	}
	
	
	@media only screen and (max-width:800px) {
		#about-me {
			flex-direction: column;
		}
		
		.section_pic-container-1 {
			height: 500px;
			width: 500px;
		}
	}
	
	@media only screen and (max-width:600px) {
		#about-me {
			flex-direction: column;
			margin: 0 5rem;
		}
		
		.section_pic-container-1 {
			height: 400px;
			width: 400px;
		}
	}
	
	@media only screen and (max-width:400px) {
		#about-me {
			flex-direction: column;
			margin: 0 3rem;
		}
		
		.section_pic-container-1 {
			height: 300px;
			width: 300px;
		}
	}
}