@charset "UTF-8";
@import url("mediaqueries-index.css");
/* CSS Document */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: 'myfont';
	src: url("../fonts/transfonter.org-20230725-073146/HandWriting.woff2") format('woff2'),
		url("../fonts/transfonter.org-20230725-073146/HandWriting.woff") format('woff'), url("../fonts/transfonter.org-20230725-073146/HandWriting.ttf") format('ttf');
	font-display: swap;
}

@font-face {
font-family: "Inter";
src: url("../../../../../../../Downloads/webfontkit-20230813-164148/inter-variablefont_slntwght-webfont.woff2") format('woff2'), url("../../../../../../../Downloads/webfontkit-20230813-164148/inter-variablefont_slntwght-webfont.woff") format('woff'), url("../fonts/Inter-2/Inter-VariableFont_slnt,wght.ttf") format('ttf');
}



html {
	font-size: 18px;
	font-family: Inter;
	scroll-behavior: smooth;
}
/*
body {
	background-image: url("../../background.jpeg");
}

/* navbar */

header { 
	position: fixed;
	top: 0; left: 0; right: 0;
	background: white; 
	padding: 20px 7%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;
}

header .navbar ul { 
	list-style: none;	
}

header .navbar ul li {
	position: relative;
	float: left;
	color: black;
}

header .navbar ul li a {
	font-size: 20px;
	font-family: 'myfont', 'Inter', sans-serif;
	padding: 20px;
	color: black;
	display: block;
	text-decoration: none;
}

header .navbar ul li a:hover {
	color: #93bfef;
}


header .navbar ul li ul {
	position: absolute;
	left: 0;
	width: 150px;
	background-color: #FAFAFA;
	display: none;
}

header .navbar ul li ul li {
	width: 100%;
	
}

header .navbar ul li:hover > ul { 
	display: initial;
}

header .navbar ul li ul li a:hover  {
	color: #8bd978;
}

#menu-bar {
	display: none;
}

header label {
	font-size: 20px;
	color: black;
	cursor: pointer;
	display: none;
}

@media only screen and (max-width:800px) {
	
	header {
		padding:20px;
	}
	
	header label{
		display: initial;
	}
	
	header .navbar {
		position: absolute;
		top:100%; left:0; right:0;
		background: white;
		display: none;
	}
	
	header .navbar ul li {
		width: 100%;
	}
	
	header .navbar ul li ul {
		position: relative;
		width: 100%;
	}
	
	#menu-bar:checked ~ .navbar {
		display: initial;
	}

}



/* profile section */

section {
	padding-top: 20vh;
	height: 100vh;
	margin: 0 9rem;
	box-sizing: border-box;
	min-height: fit-content;
}

.section-container {
	display: flex;
}

#profile {
	display: flex;
	justify-content: center;
	gap: 5rem;
	height: 80vh;
}

.section-pic-container {
	display: flex;
	height: 550px;
	width: 290px;
	margin: auto 0;
}

.section_text {
	align-self: center;
	text-align: center;
}

.section_text p {
	font-weight: 400;
	font-family: 'Inter', sans-serif;
}

.section_text_p1 {
	text-align: center;
	font-size: 1.75rem;
	margin-bottom: 0.5rem;
}

.section_text_p2 {
	margin-bottom: 1rem;
}

.title {
	font-family: 'myfont', 'Inter', sans-serif;
	font-size: 3rem;
	margin-bottom: 1rem;
}

#socials-container {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}

#cv, #contact-btn {
	font-family: 'myfont', 'Inter', sans-serif;
	font-size: 2rem;
	margin-top: 2rem;
	padding: 1rem 1rem;
	color: black;
	text-decoration: none
}

#cv:hover, #contact-btn:hover {
	color: #f6bdda;
}


/* icons */

.icon {
	cursor: pointer;
	height: 2rem;
}




/* about me */

.section_text_p3 {
	font-family: 'Inter', sans-serif;
	font-weight: 600;
	padding: 5%;
}

/*
#about {
	justify-content: center;
	align-items: center;
	
}

.section-pic-container-1 {
}
*/
#img1 {
	width: 600px;
	padding-top: 2%;
}


/* skills */

#skills {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
}

.mind_map {
	text-align: center;
}

footer {
	text-align: center;
	padding: 7%;
}

footer ul li {
	text-decoration: none;
	display: inline-flex;
	padding: 3% 1%;
}

footer ul li a:hover {
	color: #a173c0;
}

return-top {
	float: left;
}

.fa-solid, .fa-arrow-up .fa-bounce {
	color: black;
}

.fa-arrow-up:hover {
	color: #f0db73;
}









@media screen and (max-width:1400px) {
	#profile {
		height: 83vh;
		margin-bottom: 6rem;
	}
	
	section {
		flex: auto;
		flex-basis: auto;
	}
}

@media only screen and (max-width:480px) {
	#profile {
		height: 50vh;
		margin-bottom: 2rem;
	}
	
	section {
	  display: flex;
	  height: 275px;
	  width: 145px;
	  margin: auto 0;
}
	
	#about {
	  justify-content: center;
	  align-items: center;
	  flex-direction: column;
	
}
	
}

@media only screen and (max-width:1200px) {
	
	#img1 {
	width: 400px;
	padding-top: 2%;
}
	.section_text_p3 {
	font-size: 16px;
}
}
	
@media only screen and (max-width:1020px) {
	
.section-container {
	display: flex;
	flex-direction: column
}
	
	#img1 {
		width: 600px;
	}


@media only screen and (max-width:910px) {
	
.section-container {
	display: flex;
	flex-direction: column
}
	
	#img1 {
		width: 500px;
	}
}
	
@media only screen and (max-width:768px) {
	
.section-container {
	display: flex;
	flex-direction: column
}
	
	#img1 {
		width: 450px;
	}
}
	

	
	@media screen and (max-width: 1400px) {
		#profile {
			height: 83vh;
			margin-bottom: 6rem;
		}
		
		#about {
			flex-wrap: wrap;
		}
	}	
	

@media screen and (max-width: 600px) {
	#profile, .section-container {
		display: block;
	}
	
	section, .section-container {
		height: fit-content;
	}
	
	section {
		margin: 0 5%;
	}
	
	.section-pic-container {
		width: 275px;
		margin: 0 auto 2rem;
	}
	
	#about {
		margin-top: 0;
	}
	
	.section_text {
	align-self: center;
	text-align: center;
}
}
	
@media screen and (max-width: 700px) {
	#profile {
		height: 120vh;
		margin-bottom: 0;
	}
	
}
	
	
@media only screen and (max-width:480px) {
	
.section-container {
	display: flex;
	flex-direction: column;
	margin: 0 2rem;
}
	
	#profile {
		margin-bottom: 20vh;
	}
	
	#img1 {
		width: 300px;
		display: flex;
	}
	

section {
	padding-top: 10vh;
	height: 120vh;
    box-sizing: border-box;
	min-height: fit-content;
	gap: 30rem;
	
}


.mind_map {
		width: 500px;
	}
	

	}
}