@charset "UTF-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} 

@font-face {
	font-family: 'myfont';
	src: url("../fonts/transfonter.org-20230725-073146/HandWriting.woff2") format('woff2'),
		url("../fonts/transfonter.org-20230725-073146/HandWriting.woff") format('woff'), url("../fonts/transfonter.org-20230725-073146/HandWriting.ttf") format('ttf');
	font-display: swap;
}

@font-face {
font-family: "Inter";
src: url("../../../../../../../Downloads/webfontkit-20230813-164148/inter-variablefont_slntwght-webfont.woff2") format('woff2'), url("../../../../../../../Downloads/webfontkit-20230813-164148/inter-variablefont_slntwght-webfont.woff") format('woff'), url("../fonts/Inter-2/Inter-VariableFont_slnt,wght.ttf") format('ttf');
}


html {
	font-size: 18px;
	font-family: 'Inter';
	scroll-behavior: smooth;
}


/* navbar */

header { 
	position: fixed;
	top: 0; left: 0; right: 0;
	background: white; 
	padding: 20px 7%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;
}

header .navbar ul { 
	list-style: none;	
}

header .navbar ul li {
	position: relative;
	float: left;
	color: black;
}

header .navbar ul li a {
	font-size: 20px;
	font-family: 'myfont', 'Inter', sans-serif;
	padding: 20px;
	color: black;
	display: block;
	text-decoration: none;
}

header .navbar ul li a:hover {
	color: #93bfef;
}


header .navbar ul li ul {
	position: absolute;
	left: 0;
	width: 150px;
	background-color: #FAFAFA;
	display: none;
}

header .navbar ul li ul li {
	width: 100%;
	
}

header .navbar ul li:hover > ul { 
	display: initial;
}

header .navbar ul li ul li a:hover  {
	color: #8bd978;
}

#menu-bar {
	display: none;
}

header label {
	font-size: 20px;
	color: black;
	cursor: pointer;
	display: none;
}


@media only screen and (max-width:800px) {
	
	header {
		padding:20px;
	}
	
	header label{
		display: initial;
	}
	
	header .navbar {
		position: absolute;
		top:100%; left:0; right:0;
		background: white;
		display: none;
	}
	
	header .navbar ul li {
		width: 100%;
	}
	
	header .navbar ul li ul {
		position: relative;
		width: 100%;
	}
	
	#menu-bar:checked ~ .navbar {
		display: initial;
	}

}


/* book-selection section */

section {
	padding-top: 20vh;
	height: 80vh;
	margin: 0 9rem;
	box-sizing: border-box;
	min-height: fit-content;
}

.section-container {
	display: flex;
}

#sketchbook-selection {
	display: flex;
	justify-content: center;
	gap: 5 rem;
}

.section-text {
	text-align: center;
	justify-content: space-around;
	
}

.section-text-p1 {
	padding-top: 4%;
	padding-bottom: 4%;
}

.section-text-p2 {
	text-align: center;
	padding-top: 4%;
	padding-bottom: 5%;
}

.title {
	font-family: 'myfont', 'Inter', sans-serif;
	font-size: 3.5rem;
	padding: 1%;
	text-align: center;
}

.section-text ul li a {
	text-decoration: none; 
	color: black;
}

.section-text ul li a:hover {
	text-decoration: none;
	color: #f6bdda;
}

#selection-list li {
	display: inline-flex;
	font-family: 'myfont', 'Inter', sans-serif;
	font-size: 2rem;
	padding: 5% 5%;
}


/* book-1 */

#book-1 {
	display: flex;
	flex-direction: column;
}

h2 {
	font-family: "myfont", Inter, sans-serif;
	text-align: center;
	padding-bottom: 1%;
}
.scroll-container {
  background-color: white;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

.scroll-container img {
  padding: 10px;
 object-fit: scale-down;
}

p {
	text-align: center;
}



footer {
	text-align: center;
	padding: 7%;
}

footer ul li {
	text-decoration: none;
	display: inline-flex;
	padding: 3% 1%;
}

footer ul li a:hover {
	color: #a173c0;
}

return-top {
	float: left;
}

.fa-solid, .fa-arrow-up .fa-bounce {
	color: black;
}

.fa-arrow-up:hover {
	color: #f0db73;
}





@media only screen and (max-width:480px) {
section {
	
	padding-top: 20vh;
	height: 90vh;
	margin: 0 1rem;
	box-sizing: border-box;
	min-height: fit-content;
}
	
footer {
	text-align: center;
	padding: 7%;
	margin-top: 30%;
}
	
	.title {
		font-size: 2rem;
	}
	
	#book-1, #book-2, #book-3, #book-4 {
		margin: 0 1rem;
	}

}

@media only screen and (max-width:850px) {
section {
	
	padding-top: 20vh;
	height: 90vh;
	margin: 0 3rem;
	box-sizing: border-box;
	min-height: fit-content;
}
	
	.title {
		font-size: 2.5rem;
	}
	
}
	
@media only screen and (max-width:375px) {
	
	section {
		height: 100vh;
		margin: 0 1rem;
	}
}