@charset "UTF-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'myfont';
	src: url("../fonts/transfonter.org-20230725-073146/HandWriting.woff2") format('woff2'),
		url("../fonts/transfonter.org-20230725-073146/HandWriting.woff") format('woff'), url("../fonts/transfonter.org-20230725-073146/HandWriting.ttf") format('ttf');
	font-display: swap;
}

@font-face {
font-family: "Inter";
src: url("../../../../../../../Downloads/webfontkit-20230813-164148/inter-variablefont_slntwght-webfont.woff2") format('woff2'), url("../../../../../../../Downloads/webfontkit-20230813-164148/inter-variablefont_slntwght-webfont.woff") format('woff'), url("../fonts/Inter-2/Inter-VariableFont_slnt,wght.ttf") format('ttf');
}



html {
	font-size: 18px;
	font-family: "Inter";
	scroll-behavior: smooth;
}
/*
body {
	background-image: url("../../background.jpeg");
}

/* navbar */

header { 
	position: fixed;
	top: 0; left: 0; right: 0;
	background: white; 
	padding: 20px 7%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;
}

header .navbar ul { 
	list-style: none;	
}

header .navbar ul li {
	position: relative;
	float: left;
	color: black;
}

header .navbar ul li a {
	font-size: 20px;
	font-family: 'myfont', 'Schoolbell', 'Inter', sans-serif;
	padding: 20px;
	color: black;
	display: block;
	text-decoration: none;
}

header .navbar ul li a:hover {
	color: #93bfef;
}


header .navbar ul li ul {
	position: absolute;
	left: 0;
	width: 150px;
	background-color: #FAFAFA;
	display: none;
}

header .navbar ul li ul li {
	width: 100%;
	
}

header .navbar ul li:hover > ul { 
	display: initial;
}

header .navbar ul li ul li a:hover  {
	color: #8bd978;
}

#menu-bar {
	display: none;
}

header label {
	font-size: 20px;
	color: black;
	cursor: pointer;
	display: none;
}

@media only screen and (max-width:800px) {
	
	header {
		padding:20px;
	}
	
	header label{
		display: initial;
	}
	
	header .navbar {
		position: absolute;
		top:100%; left:0; right:0;
		background: white;
		display: none;
	}
	
	header .navbar ul li {
		width: 100%;
	}
	
	header .navbar ul li ul {
		position: relative;
		width: 100%;
	}
	
	#menu-bar:checked ~ .navbar {
		display: initial;
	}
	
}


section {
	padding-top: 20vh;
	height: 80vh;
	margin: 2rem 10rem;
	box-sizing: border-box;
	min-height: fit-content;
}

.section-container {
	display: flex;
}


.title {
	font-family: 'myfont', 'Inter', sans-serif;
	font-size: 3rem;
	margin-bottom: 1rem;
	text-align: center;
}


.section-pic-container {
	flex-direction: row;
}

.section-text {
	flex-direction: row;
	text-align: center;
	margin: 2rem 10rem;
}


h2 {
	font-family: 'myfont', Inter, sans-serif;
}

h1 {
	font-family: 'myfont', Inter, sans-serif;
	padding-top: 20vh;
}


#kit {
	display: flex;
	justify-content: center;
	margin: 2rem 5rem;
	flex-direction: column;
	align-content: center;
	align-items: center;
}

#instagram {
	display: flex;
	justify-content: center;
	margin: 2rem 5rem;
	flex-direction: column;
	align-content: center;
	align-items: center;
}

@media only screen and (max-width:800px) {
	.img1 {
		width: 600px;
	}
}

@media only screen and (max-width:600px) {
	.img1 {
		width: 400px;
	}
	.section-text {
	flex-direction: row;
	text-align: center;
	margin: 2rem 2rem;
}
}

@media only screen and (max-width:500px) {
	.img1 {
		width: 450px;
	}
	
	.section-text {
	flex-direction: row;
	text-align: center;
	margin: 2rem 2rem;
}
	.title {
	font-family: 'myfont', 'Inter', sans-serif;
	font-size: 2.5rem;
	margin-bottom: 1rem;
	text-align: center;
}
}

@media only screen and (max-width:450px) {
	.img1 {
		width: 400px;
	}
	
	.section-text {
	flex-direction: row;
	text-align: center;
	margin: 2rem 2rem;
}
}

@media only screen and (max-width:400px) {
	.img1 {
		width: 350px;
	}
	
	.section-text {
	flex-direction: row;
	text-align: center;
	margin: 2rem 2rem;
}
}

@media only screen and (max-width:350px) {
	.img1 {
		width: 300px;
	}
	
	.section-text {
	flex-direction: row;
	text-align: center;
	margin: 2rem 2rem;
}
}


footer {
	text-align: center;
	padding: 7%;
}

footer ul li {
	text-decoration: none;
	display: inline-flex;
	padding: 3% 1%;
}

footer ul li a:hover {
	color: #a173c0;
}

return-top {
	float: left;
}

.fa-solid, .fa-arrow-up .fa-bounce {
	color: black;
}

.fa-arrow-up:hover {
	color: #f0db73;
}

p {
	font-family: 'Inter', sans-serif;
}

#fade-in-image { animation: fadeIn 3s; }

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.tag {
  opacity: 0;
  transition: all 3s;
}

.tag.visible {
  opacity: 1;
}



